<li class="match">
  <div class="match-flexbox">
    <div class="match-team match-team-1">
      <div class="match-team__content">
        <img [src]="match.team_1.logo" alt="team logo" class="match-team__content-image"/>
        <p class="match-team__content-name">{{match.team_1.name}}</p>
      </div>
      <button (click)="betsService.betOnGame(match.team_1, match)" [ngClass]="{
        'match-team__bet': true,
        'active': betTeam?.teamName === match.team_1.name
      }">
        bet
      </button>
    </div>
    <div class="match-begins">{{match.beginsInTime}}</div>
    <div class="match-team">
      <button (click)="betsService.betOnGame(match.team_2, match)" [ngClass]="{
        'match-team__bet': true,
        'active': betTeam?.teamName === match.team_2.name
      }">
        bet
      </button>
      <div class="match-team__content">
        <p class="match-team__content-name">{{match.team_2.name}}</p>
        <img [src]="match.team_2.logo" alt="team logo" class="match-team__content-image"/>
      </div>
    </div>
  </div>
</li>
