<div class="match">
  <div class="match-flexbox">
    <div class="match-team match-team-1">
      <div class="match-team__content">
        <img [src]="match.team_1.logo" alt="team logo" class="match-team__content-image"/>
        <p class="match-team__content-name">{{match.team_1.name}}</p>
      </div>
      <button (click)="betOnTeam(match.team_1)" [ngClass]="{
        'match-team__bet': true,
        'active': betTeam?.teamName === match.team_1.name
      }">
        bet
      </button>
    </div>
    <div class="match-center">
      <p class="match-center__begins">{{match.beginsInTime}}</p>
      <button (click)="cancelBet()" *ngIf="betTeam" class="match-center__cancel-bet">cancel</button>
    </div>
    <div class="match-team">
      <button (click)="betOnTeam(match.team_2)" [ngClass]="{
        'match-team__bet': true,
        'active': betTeam?.teamName === match.team_2.name
      }">
        bet
      </button>
      <div class="match-team__content">
        <p class="match-team__content-name">{{match.team_2.name}}</p>
        <img [src]="match.team_2.logo" alt="team logo" class="match-team__content-image"/>
      </div>
    </div>
  </div>
  <div class="match-amount">
    <label class="match-amount__label">
      Amount money to bet:
      <input [(ngModel)]="moneyBetAmount" class="match-amount__label-input" id="amount" name="amount" type="number">
    </label>
  </div>
</div>

